:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --accent-color-darker: #188CE8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto";
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 1199px) {
  img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  img {
    max-width: 100%;
  }
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
}

.header__nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .nav,
.header-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav,
.header-contact {
    display: block;
  }
}

.header__logo--black {
  color: var(--black-logo-color);
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .header__section {
    max-width: 767px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  position: relative;
  transition: color 250ms var(--animation);
}

.nav__link:focus, .nav__link:hover {
  color: var(--accent-color);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
}

.header-contact {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    flex-direction: column;
    align-content: center;
  }
}

.header-contact__list {
  margin-left: auto;
}

.header-contact__item + .header-contact__item {
  margin-left: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item + .header-contact__item {
    margin-left: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item {
    margin-left: 0px;
  }
}

.header-contact__link {
  display: inline-flex;
  padding: 32px 0px 32px;
  /* color: var(--secondary-text-color); */
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover, .header-contact__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__link {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 0px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }
}

.hero__title {
  padding: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 360px;
    line-height: 1.36;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__btn {
  display: inline-block;
  min-width: 140px;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 7px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-color-darker);
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .hero__btn {
    padding: 10px 32px;
    font-size: 16px;
    min-width: 200px;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (max-width: 479px) {
  .features {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.features-flex {
  display: flex;
  flex-wrap: wrap;
}

.features-list {
  justify-content: center;
  grid-gap: 30px;
}

@media screen and (min-width: 480px) {
  .features-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }
}

.features-list__icon-bg {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--team-background-color);
}
@media screen and (min-width: 480px) {
  .features-list__icon-bg {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features-list__icon-bg {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__icon-bg {
    width: 270px;
  }
}

.features-list__icon {
  align-items: center;
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.work {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.work-list__item {
  position: relative;
}

.work-list__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--team-background-color);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-background-color);
}
@media screen and (max-width: 479px) {
  .team-list__item {
    width: 270px;
  }
}
@media screen and (min-width: 480px) {
  .team-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
  }
}

.team-list__workers {
  padding: 30px 0px;
}

.team-list__worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list__profession {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-list__social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  margin-top: 16px;
  list-style: none;
  gap: 10px;
}

.team-list__social-item {
  width: 44px;
  height: 44px;
}

.team-list__social-link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list__social-link:hover, .team-list__social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.team-list__social-icon {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.header-contact__icon:hover,
.header-contact__icon:focus {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--white-text-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform var(--animation);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 22px;
  right: 22px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-down-wrap {
  margin-top: auto;
}

.mobile-contact__icon {
  display: none;
}

.mobile-menu-social-list {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: var(--accent-color);
  display: flex;
}

.mobile-social-list {
  margin-top: 64px;
  display: flex;
  position: relative;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social-list .mobile-social-item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: translateX(-10px);
}

.mobile-contact-email {
  margin-top: 32px;
}

.mobile-menu__link {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mobile-menu__link.nav__link--current {
  color: var(--accent-color);
}

.mobile-contact__link.tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-contact__link.email {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}/*# sourceMappingURL=main.css.map */